{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4 class="my-3 border-bottom pb-2">현재 대출하려는 책은 다음과 같습니다.</h4>
    <br>
    <div style="float: left; padding: 3rem;">
        <h5>{{book.title}}</h5>
        <p>저자 : {{book.author}}</p>
        <img src="{{book.cover}}" style="width: 22rem; padding: 1rem 1rem 1rem 1rem; align-self:center;">  
    </div>
    <div class="card-body" style="float: left; padding: 5rem;">
        
    </div>
    <div style="padding: 5rem;">
        <form method="post" class="post-form my-3">
            {% csrf_token %}
<!-- 오류표시 Start -->
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
<!-- 오류표시 End -->
            <button type="submit" class="btn btn-primary" style="width: 15rem;">대출하기</button>
        </form>
    </div>
</div>
{% endblock %}